.container{
    max-width: 100%;
}
/* DIMENSIONE CONTAINER */

[class*="col-"]{
    min-height: 50px;
}


.bg-blue{
    background-color: #006DFA;
    color: white;
    border: 1px solid white;
}

.bg-green{
    background-color: #01E165;
    color: white;
    border: 1px solid #006DFA;
}

.padd{
    padding: 20px;
}

.mg-b30{
    margin-bottom: 30px;
}